src/main/resources/ogc/wml/waterObservation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:wml2="http://www.opengis.net/waterml/2.0" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:om="http://www.opengis.net/om/2.0" targetNamespace="http://www.opengis.net/waterml/2.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>Specialized observation classes for water</documentation>
        <appinfo>
            <sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron">
                <sch:title>Schematron constraints for "Observation classes"</sch:title>
                <sch:ns prefix="sch" uri="http://purl.oclc.org/dsdl/schematron"/>
                <sch:ns prefix="xlink" uri="http://www.w3.org/1999/xlink"/>
                <sch:ns prefix="om" uri="http://www.opengis.net/om/2.0"/>
                <sch:ns prefix="wml2" uri="http://www.opengis.net/waterml/2.0"/>
                <sch:ns prefix="sam" uri="http://www.opengis.net/sampling/2.0"/>
                <sch:pattern name="Properties for WaterMonitoringObservation">
                    <sch:rule context="//wml2:WaterMonitoringObservation">
                        <sch:assert test="om:metadata/wml2:ObservationMetadata or (empty(om:metadata/*) and om:metadata/@xlink:href)">metadata must contain either ObservationMetadata or nothing (and carry an xlink:href instead)</sch:assert>
                        <sch:assert test="om:procedure/wml2:WaterObservationProcess or (empty(om:procedure/*) and om:procedure/@xlink:href)">procedure must contain either WaterObservationProcess or nothing (and carry an xlink:href instead)</sch:assert>
                        <sch:assert test="om:result/wml2:Timeseries or (empty(om:result/*) and om:result/@xlink:href)">result must contain either Timeseries or nothing (and carry an xlink:href instead)</sch:assert>
                        <sch:assert test="wml2:featureOfInterest/sam:SF_SamplingFeature or (empty(wml2:featureOfInterest/*) and wml2:featureOfInterest/@xlink:href)">featureOfInterest must contain either SF_SamplingFeature or nothing (and carry an xlink:href instead)</sch:assert>
                    </sch:rule>
                </sch:pattern>
            </sch:schema>
        </appinfo>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
    <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gco/gco.xsd"/>
    <import namespace="http://www.opengis.net/om/2.0" schemaLocation="observation.xsd"/>
    <include schemaLocation="waterml2.xsd"/>
    <include schemaLocation="waterResultsCoverage.xsd"/>
    <element name="WaterMonitoringObservation" substitutionGroup="om:OM_Observation" type="wml2:WaterMonitoringObservationType">
        <annotation>
            <documentation>An observation of some water-related property, made at a monitoring point, whose result is a time-series describing the variation of some property with time.

The primary specialization from the generic TimeSeriesObservation is that the domain of the result property is a WaterPropertyTimeSeries


</documentation>
        </annotation>
    </element>
    <complexType name="WaterMonitoringObservationType">
        <annotation>
            <documentation>The following properties inherited from parent classes are overridden in Schematron assertions:

association: metadata
association: result
association: featureOfInterest
association: procedure</documentation>
        </annotation>
        <complexContent>
            <extension base="om:OM_ObservationType"/>
        </complexContent>
    </complexType>
    <complexType name="WaterMonitoringObservationPropertyType">
        <sequence minOccurs="0">
            <element ref="wml2:WaterMonitoringObservation"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="ObservationMetadata" substitutionGroup="gmd:MD_Metadata" type="wml2:ObservationMetadataType">
        <annotation>
            <documentation>Metadata relating to water observation.
</documentation>
        </annotation>
    </element>
    <complexType name="ObservationMetadataType">
        <complexContent>
            <extension base="gmd:MD_Metadata_Type">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="intendedSamplingInterval" type="duration">
                        <annotation>
                            <documentation>Defines the expected interval in which observations can be expected. e.g. daily. 
</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="status" type="gml:ReferenceType">
                        <annotation>
                            <documentation>Indicates the statues of the observation. E.g. unreleased, verified etc.  
</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="sampledMedium" type="gml:ReferenceType">
                        <annotation>
                            <documentation>Indicates the medium that was sampled. E.g. water, air, etc. 
</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="maximumGap" type="duration"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="parameter" type="om:NamedValuePropertyType">
                        <annotation>
                            <documentation>A soft-typed parameter to allow extension through name-value pairs. 
</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ObservationMetadataPropertyType">
        <sequence minOccurs="0">
            <element ref="wml2:ObservationMetadata"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <group name="TimeseriesResult">
        <annotation>
            <documentation>A selection between full timeseries structure and the lite structure.
</documentation>
        </annotation>
        <choice>
            <element ref="wml2:TimeseriesLite"/>
            <element ref="wml2:Timeseries"/>
        </choice>
    </group>
    <complexType name="TimeseriesResultPropertyType">
        <sequence minOccurs="0">
            <group ref="wml2:TimeseriesResult"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attribute name="unionSemantics" type="wml2:TimeseriesResultUnionSemantics"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <simpleType name="TimeseriesResultUnionSemantics">
        <restriction base="string">
            <enumeration value="lite"/>
            <enumeration value="full"/>
        </restriction>
    </simpleType>
</schema>