src/main/webapp/schemas/Analysis.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:gsml="urn:cgi:xmlns:CGI:GeoSciML:2.0" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gwml="http://www.nrcan.gc.ca/xml/gwml/1" xmlns:sml="http://www.opengis.net/sensorML/1.0.1" xmlns:omx="http://www.opengis.net/omx/1.0" xmlns:om="http://www.opengis.net/om/1.0" targetNamespace="http://www.nrcan.gc.ca/xml/gwml/1" elementFormDefault="qualified" attributeFormDefault="unqualified"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>Set of classes that represents a variable quality measurement of water </documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
    <import namespace="urn:cgi:xmlns:CGI:GeoSciML:2.0" schemaLocation="http://www.geosciml.org/geosciml/2.0/xsd/geosciml.xsd"/>
    <import namespace="http://www.opengis.net/om/1.0" schemaLocation="http://schemas.opengis.net/om/1.0.0/om.xsd"/>
    <import namespace="http://www.opengis.net/omx/1.0" schemaLocation="http://schemas.opengis.net/omx/1.0.0/om_extended.xsd"/>
    <import namespace="http://www.opengis.net/sensorML/1.0.1" schemaLocation="http://schemas.opengis.net/sensorML/1.0.1/sensorML.xsd"/>
    <import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
    <include schemaLocation="gwml.xsd"/>
    <element name="DependentObservationCalculation" substitutionGroup="sml:_Process" type="gwml:DependentObservationCalculationType">
        <annotation>
            <documentation>Calculation that depend from another set of observation</documentation>
        </annotation>
    </element>
    <complexType name="DependentObservationCalculationType">
        <complexContent>
            <extension base="sml:AbstractProcessType">
                <sequence>
                    <element name="method" type="gml:CodeType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="sourceObservation" type="om:ObservationPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="DependentObservationCalculationPropertyType">
        <sequence minOccurs="0">
            <element ref="gwml:DependentObservationCalculation"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="GroundwaterAnalysisResult" substitutionGroup="gml:_GML" type="gwml:GroundwaterAnalysisResultType">
        <annotation>
            <documentation>Report a collection of values related to groundwater quality (quantitative and qualitative).</documentation>
        </annotation>
    </element>
    <complexType name="GroundwaterAnalysisResultType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="contact" type="gmd:CI_ResponsibleParty_PropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="1" name="member" type="gwml:ResultElementPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="GroundwaterAnalysisResultPropertyType">
        <sequence minOccurs="0">
            <element ref="gwml:GroundwaterAnalysisResult"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <complexType name="GroundwaterAnalysisResultPropertyByValueType">
        <sequence>
            <element ref="gwml:GroundwaterAnalysisResult"/>
        </sequence>
    </complexType>
    <element name="ResultElement" type="gwml:ResultElementType">
        <annotation>
            <documentation>This class is used to represent one element of the results of a groundwater analysis. </documentation>
        </annotation>
    </element>
    <complexType name="ResultElementType">
        <sequence>
            <element name="parameter" type="gsml:ControlledConceptPropertyType">
                <annotation>
                    <documentation>This property is used to define the types of the elements of the results if a groundwater analysis. </documentation>
                </annotation>
            </element>
            <element name="value" type="gsml:CGI_ValuePropertyType">
                <annotation>
                    <documentation>This parameter is used to represent the values of the various parameters of the results of a groundwater analysis.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="ResultElementPropertyType">
        <sequence>
            <element ref="gwml:ResultElement"/>
        </sequence>
    </complexType>
</schema>