src/main/webapp/schemas/AquiferTesting.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:gsml="urn:cgi:xmlns:CGI:GeoSciML:2.0" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:sa="http://www.opengis.net/sampling/1.0" xmlns:gwml="http://www.nrcan.gc.ca/xml/gwml/1" xmlns:sml="http://www.opengis.net/sensorML/1.0.1" xmlns:omx="http://www.opengis.net/omx/1.0" xmlns:om="http://www.opengis.net/om/1.0" targetNamespace="http://www.nrcan.gc.ca/xml/gwml/1" elementFormDefault="qualified" attributeFormDefault="unqualified"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>The aquiferTesting package groups all test (mainly pump test) and other artefacts of measuring properties of the aquifer or the well</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
    <import namespace="http://www.opengis.net/om/1.0" schemaLocation="http://schemas.opengis.net/om/1.0.0/om.xsd"/>
    <import namespace="http://www.opengis.net/omx/1.0" schemaLocation="http://schemas.opengis.net/omx/1.0.0/om_extended.xsd"/>
    <import namespace="urn:cgi:xmlns:CGI:GeoSciML:2.0" schemaLocation="http://www.geosciml.org/geosciml/2.0/xsd/geosciml.xsd"/>
    <import namespace="http://www.opengis.net/sampling/1.0" schemaLocation="http://schemas.opengis.net/sampling/1.0.0/sampling.xsd"/>
    <import namespace="http://www.opengis.net/om/1.0" schemaLocation="http://schemas.opengis.net/om/1.0.0/om.xsd"/>
    <import namespace="http://www.opengis.net/omx/1.0" schemaLocation="http://schemas.opengis.net/omx/1.0.0/om_extended.xsd"/>
    <import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
    <import namespace="http://www.opengis.net/sensorML/1.0.1" schemaLocation="http://schemas.opengis.net/sensorML/1.0.1/sensorML.xsd"/>
    <include schemaLocation="gwml.xsd"/>
    <element name="PackerTesting" substitutionGroup="gwml:PumpTesting" type="gwml:PackerTestingType">
        <annotation>
            <documentation>Packer tests consist of isolating specific sections (usually 10 ft) of a bedrock borehole with inflatable packers (bladders) so that water-quality samples can be collected and aquifer tests can be conducted. A series of such tests allows definition of the vertical distribution of water quality (usually contaminants) and hydraulic conductivity (pathways for water and contaminant movement) in an aquifer. Monitoring water levels in nearby wells while pumping packed intervals can identify permeable intervals within the aquifer. Information from the packer tests can be used to properly site the future location of monitoring wells. 
http://il.water.usgs.gov/pubs/ofr01-50_chapter4_8.pdf

packer test (Lugeon test) Test for measuring the permeability of ground in sections of boreholes. An inflatable tube ('packer') is lowered down a borehole and expanded so that the sections above and below are isolated. Alternatively, two packers may be used to isolate a certain section. Water is pumped into the section under investigation and leakage can be measured. The rate at which water is absorbed per metre length of hole is measured in units of lugeon, named after the French geologist Maurice Lugeon (1870?1953). One lugeon is approximately equal to 1.0 ? 10&amp;minus;5 cm/s permeability.
AILSA ALLABY and MICHAEL ALLABY. "packer test." A Dictionary of Earth Sciences. 1999. Retrieved December 17, 2008 from Encyclopedia.com: http://www.encyclopedia.com/doc/1O13-packertest.html</documentation>
        </annotation>
    </element>
    <complexType name="PackerTestingType">
        <complexContent>
            <extension base="gwml:PumpTestingType"/>
        </complexContent>
    </complexType>
    <complexType name="PackerTestingPropertyType">
        <sequence minOccurs="0">
            <element ref="gwml:PackerTesting"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="TracingTest" substitutionGroup="gwml:GroundwaterTesting" type="gwml:TracingTestType">
        <annotation>
            <documentation>Tracer tests are used to "trace" the path of flowing water. Tracer tests are conducted in pipelines, lakes, rivers and groundwater. The tracer chemical must be dissolved in water at concentrations that do not significantly change the aqueous density. Tracer chemicals must behave conservatively --&amp;gt; meaning no mass is lost through reaction or partitioning into differing phases (vapor, solids). Thus, the only solute transport processes affecting a conservative tracer are advection and dispersion. Advection is the movement of the solute (dissolved tracer) due to groundwater flowing and moving. The mean pore-water velocity (calculated from Darcy's Law) is used to predict advection. As the pore-water velocities within the groundwater are not uniform (variability around the mean velocity), some solute will move slower than the mean velocity and other solute will move faster than the mean velocity. The resulting dispersion of the solute causes a broadening of the solute plume and a decrease in the concentration. The ambient or background level of tracer chemical in the receiving waters must be low.
http://www.geology.sdsu.edu/classes/geol552/tracertestdesign.htm

Test that involves injecting a tracer and detecting its diffusion into another site.</documentation>
        </annotation>
    </element>
    <complexType name="TracingTestType">
        <complexContent>
            <extension base="gwml:GroundwaterTestingType"/>
        </complexContent>
    </complexType>
    <complexType name="TracingTestPropertyType">
        <sequence minOccurs="0">
            <element ref="gwml:TracingTest"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="SlugTesting" substitutionGroup="gwml:PumpTesting" type="gwml:SlugTestingType">
        <annotation>
            <documentation>A slug test is a particular type of aquifer test where water is quickly added or removed from a groundwater well, and the change in hydraulic head is monitored through time, to determine the near-well aquifer characteristics. It is a method used by hydrogeologists and civil engineers to determine the transmissivity and storativity of the material the well is completed in.
http://en.wikipedia.org/wiki/Slug_test</documentation>
        </annotation>
    </element>
    <complexType name="SlugTestingType">
        <complexContent>
            <extension base="gwml:PumpTestingType"/>
        </complexContent>
    </complexType>
    <complexType name="SlugTestingPropertyType">
        <sequence minOccurs="0">
            <element ref="gwml:SlugTesting"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element abstract="true" name="GroundwaterTesting" substitutionGroup="omx:ObservationProcess" type="gwml:GroundwaterTestingType">
        <annotation>
            <documentation>This abstracted class is used to represent the result of a groundwater test.</documentation>
        </annotation>
    </element>
    <complexType abstract="true" name="GroundwaterTestingType">
        <complexContent>
            <extension base="omx:ObservationProcessType">
                <sequence>
                    <element name="groundwaterTestType" type="gwml:GroundwaterTestCodeType">
                        <annotation>
                            <documentation>Code used to refer to a particular hydraulic test, defined in the hydraulicTestCode enumeration.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="rawResult" type="gml:AssociationType">
                        <annotation>
                            <documentation>Pointer to a file where the raw results are (image, file, raw data).  Raw, uninterpreted data that is used to produce a result for the Observation</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="report" type="gmd:CI_Citation_PropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="contact" type="gmd:CI_ResponsibleParty_PropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="GroundwaterTestingPropertyType">
        <sequence minOccurs="0">
            <element ref="gwml:GroundwaterTesting"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="PumpTesting" substitutionGroup="gwml:GroundwaterTesting" type="gwml:PumpTestingType">
        <annotation>
            <documentation>An aquifer test (or a pumping test) is conducted to evaluate an aquifer by "stimulating" the aquifer through constant pumping, and observing the aquifer's "response" (drawdown) in observation wells. Aquifer testing is a common tool that hydrogeologists use to characterize a system of aquifers, aquitards and flow system boundaries.
http://en.wikipedia.org/wiki/Aquifer_test</documentation>
        </annotation>
    </element>
    <complexType name="PumpTestingType">
        <complexContent>
            <extension base="gwml:GroundwaterTestingType">
                <sequence>
                    <element name="duration" type="duration">
                        <annotation>
                            <documentation>Duration on which the pump testing is performed.</documentation>
                        </annotation>
                    </element>
                    <element name="rate" type="om:ObservationPropertyType">
                        <annotation>
                            <documentation>Rate at which the water is pumped during the pumping test.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="PumpTestingPropertyType">
        <sequence minOccurs="0">
            <element ref="gwml:PumpTesting"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="ProcessContextRelation" substitutionGroup="sa:SamplingFeatureRelation" type="gwml:ProcessContextRelationType">
        <annotation>
            <documentation>Specific relation between sampling features where the sampling features form a network in a process to generate observations for a target sampling feature. The common example is a well network where measures are taken at several wells to estimate a property at a target well or for another target feature (ie, an aquifer)</documentation>
        </annotation>
    </element>
    <complexType name="ProcessContextRelationType">
        <complexContent>
            <extension base="sa:SamplingFeatureRelationType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="relatedProcess" type="string"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ProcessContextRelationPropertyType">
        <sequence>
            <element ref="gwml:ProcessContextRelation"/>
        </sequence>
    </complexType>
    <simpleType name="GroundwaterTestCodeType">
        <restriction base="string">
            <enumeration value="groundwaterYield">
                <annotation>
                    <documentation>Test conducted to assess the yield of an aquifer</documentation>
                </annotation>
            </enumeration>
            <enumeration value="pumpingRate">
                <annotation>
                    <documentation>Test conducted to evaluate an aquifer by "stimulating" the aquifer through constant pumping, and observing the aquifer's "response" (drawdown) in observation wells.
http://en.wikipedia.org/wiki/Aquifer_test</documentation>
                </annotation>
            </enumeration>
            <enumeration value="groundwaterAvailability">
                <annotation>
                    <documentation>Test conducted to asses the availability of groundwater in an aquifer. This test assesses if a certain volume of water pumped from an aquifer is available. </documentation>
                </annotation>
            </enumeration>
            <enumeration value="groundwaterFlow">
                <annotation>
                    <documentation>Assessment of direction and speed of groundwater flow.  Normally done using either flowmeter or tracers.</documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>
</schema>