src/main/webapp/schemas/HydrogeologicProperties.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:gsml="urn:cgi:xmlns:CGI:GeoSciML:2.0" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gwml="http://www.nrcan.gc.ca/xml/gwml/1" targetNamespace="http://www.nrcan.gc.ca/xml/gwml/1" elementFormDefault="qualified" attributeFormDefault="unqualified"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>The GWML HydrogeologicProperties package contains a set of classes used to describe the property of the groundwater and the material that constitute the support of an aquifer.</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
    <import namespace="urn:cgi:xmlns:CGI:GeoSciML:2.0" schemaLocation="http://www.geosciml.org/geosciml/2.0/xsd/geosciml.xsd"/>
    <import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
    <include schemaLocation="gwml.xsd"/>
    <element name="HydrogeologicDescription" substitutionGroup="gsml:PhysicalDescription" type="gwml:HydrogeologicDescriptionType">
        <annotation>
            <documentation>Properties of the rock that is relevant to the groundwater</documentation>
        </annotation>
    </element>
    <complexType name="HydrogeologicDescriptionType">
        <complexContent>
            <extension base="gsml:PhysicalDescriptionType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="capacity" type="gsml:CGI_NumericPropertyType">
                        <annotation>
                            <documentation>Volumetric capacity of an aquifer to hold water.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="hydraulicConductivity" type="gsml:CGI_NumericPropertyType">
                        <annotation>
                            <documentation>Hydraulic conductivity can be measured by applying Darcy's law on the material. Such experiments can be conducted by creating a hydraulic gradient between two points, and measuring the flow rate (Oosterbaan and Nijland[1]). (Wikipedia)</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="storativity" type="gsml:CGI_NumericPropertyType">
                        <annotation>
                            <documentation>Storativity is the volume of water released from storage per unit decline in hydraulic head in the aquifer, per unit area of the aquifer.
http://en.wikipedia.org/wiki/Specific_storage</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="HydrogeologicDescriptionPropertyType">
        <sequence minOccurs="0">
            <element ref="gwml:HydrogeologicDescription"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <complexType name="HydrogeologicDescriptionPropertyByValueType">
        <sequence>
            <element ref="gwml:HydrogeologicDescription"/>
        </sequence>
    </complexType>
    <element name="Salinity" substitutionGroup="gwml:DissolvedComponent" type="gwml:SalinityType">
        <annotation>
            <documentation>Salinity is a very special kind of dissolved component and is often an important aspect of groundwater studies because of it's many impacts.

The salinity can come from various sources; sea water instrusion (actual or ancien), dissolution of host rock or dissolution of salt during recharge (eg, water circulating through evaporates)</documentation>
        </annotation>
    </element>
    <complexType name="SalinityType">
        <complexContent>
            <extension base="gwml:DissolvedComponentType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="salinitySource" type="gsml:ControlledConceptPropertyType">
                        <annotation>
                            <documentation>The salinity can come from various sources; sea water instrusion (actual or ancien), dissolution of host rock or dissolution of salt during recharge (eg, water circulating through evaporates)</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="SalinityPropertyType">
        <sequence minOccurs="0">
            <element ref="gwml:Salinity"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <complexType name="SalinityPropertyByValueType">
        <sequence>
            <element ref="gwml:Salinity"/>
        </sequence>
    </complexType>
    <element name="BiologicComponent" substitutionGroup="gwml:WaterCompositionComponent" type="gwml:BiologicComponentType">
        <annotation>
            <documentation>Type of biologic component present in the groudwater (bacteria, virus, etc).</documentation>
        </annotation>
    </element>
    <complexType name="BiologicComponentType">
        <complexContent>
            <extension base="gwml:WaterCompositionComponentType">
                <sequence>
                    <element name="organism" type="gsml:OrganismPropertyType">
                        <annotation>
                            <documentation>In biology, an organism is a living thing (such as animal, plant, fungus, or micro-organism).

http://en.wikipedia.org/wiki/Organisms</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="BiologicComponentPropertyType">
        <sequence minOccurs="0">
            <element ref="gwml:BiologicComponent"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <complexType name="BiologicComponentPropertyByValueType">
        <sequence>
            <element ref="gwml:BiologicComponent"/>
        </sequence>
    </complexType>
    <element name="Salt" substitutionGroup="gsml:Mineral" type="gwml:SaltType">
        <annotation>
            <documentation>A salt, in chemistry, is defined as the product formed from the neutralisation reaction of acids and bases. Salts are ionic compounds composed of cations (positively charged ions) and anions (negative ions) so that the product is electrically neutral (without a net charge). These component ions can be inorganic such as chloride (Cl&amp;minus;), as well as organic such as acetate (CH3COO&amp;minus;) and monoatomic ions such as fluoride (F&amp;minus;), as well as polyatomic ions such as sulfate (SO42&amp;minus;).

There are several varieties of salts. Salts that produce hydroxide ions when dissolved in water are basic salts and salts that produce hydronium ions in water are acid salts. Neutral salts are those that are neither acid nor basic salts. Zwitterions contain an anionic center and a cationic center in the same molecule but are not considered to be salts. Examples include amino acids, many metabolites, peptides and proteins.
http://en.wikipedia.org/wiki/Salt_(chemistry)</documentation>
        </annotation>
    </element>
    <complexType name="SaltType">
        <complexContent>
            <extension base="gsml:MineralType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="chemicalFormula" type="gsml:CGI_TermPropertyType">
                        <annotation>
                            <documentation>A chemical formula is a way of expressing information about the atoms that constitute a particular chemical compound, and how the relationship between those atoms changes in chemical reactions.
http://en.wikipedia.org/wiki/Chemical_formula</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="SaltPropertyType">
        <sequence minOccurs="0">
            <element ref="gwml:Salt"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <complexType name="SaltPropertyByValueType">
        <sequence>
            <element ref="gwml:Salt"/>
        </sequence>
    </complexType>
    <element name="SuspendedComponent" substitutionGroup="gwml:WaterCompositionComponent" type="gwml:SuspendedComponentType">
        <annotation>
            <documentation>In chemistry, a suspension is a homogeneous fluid containing solid particles that are sufficiently large for sedimentation. Usually they must be larger than 1 micrometre.[1] The internal phase (solid) is dispersed throughout the external phase (fluid) through mechanical agitation, with the use of certain excipients or suspending agents. Unlike colloids, suspensions will eventually settle. An example of a suspension would be sand in water. The suspended particles are visible under a microscope and will settle over time if left undisturbed. This distinguishes a suspension from a colloid in which the suspended particles are smaller and do not settle.[2] In a solution, the dissolved substance does not exist as a solid and the two are homogeneously mixed.
http://en.wikipedia.org/wiki/Suspension_(chemistry)

This class is used to described a suspended material in groundwater.</documentation>
        </annotation>
    </element>
    <complexType name="SuspendedComponentType">
        <complexContent>
            <extension base="gwml:WaterCompositionComponentType">
                <sequence>
                    <element name="suspendedMaterial" type="gsml:ControlledConceptPropertyType">
                        <annotation>
                            <documentation>Name of the suspension material in groundwater.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="SuspendedComponentPropertyType">
        <sequence minOccurs="0">
            <element ref="gwml:SuspendedComponent"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <complexType name="SuspendedComponentPropertyByValueType">
        <sequence>
            <element ref="gwml:SuspendedComponent"/>
        </sequence>
    </complexType>
    <element name="DissolvedComponent" substitutionGroup="gwml:WaterCompositionComponent" type="gwml:DissolvedComponentType">
        <annotation>
            <documentation>That has been disintegrated in a solvent
http://en.wiktionary.org/wiki/dissolved

This class refers to a chemical component dissoved in groundwater. </documentation>
        </annotation>
    </element>
    <complexType name="DissolvedComponentType">
        <complexContent>
            <extension base="gwml:WaterCompositionComponentType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="saturation" type="gsml:CGI_TermPropertyType">
                        <annotation>
                            <documentation>This attribute refers the the saturation of a dissolved component into ground water. The domain values are "pure, unsaturated, saturated, sursaturated".

In physical chemistry, saturation is the point at which a solution of a substance can dissolve no more of that substance and additional amounts of it will appear as a precipitate. This point of maximum concentration, the saturation point, depends on the temperature of the liquid as well as the chemical nature of the substances involved.
http://en.wikipedia.org/wiki/Saturation_(chemistry)</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="dissolved" type="gwml:SolutionComponentPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="DissolvedComponentPropertyType">
        <sequence minOccurs="0">
            <element ref="gwml:DissolvedComponent"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <complexType name="DissolvedComponentPropertyByValueType">
        <sequence>
            <element ref="gwml:DissolvedComponent"/>
        </sequence>
    </complexType>
    <element name="ColloidalComponent" substitutionGroup="gwml:WaterCompositionComponent" type="gwml:ColloidalComponentType">
        <annotation>
            <documentation>This class refers to a physical component that hava the proerties of a colloid.

A colloid is a type of mechanical mixture where one substance is dispersed evenly throughout another. Because of this dispersal, some colloids have the appearance of solutions. A colloidal system consists of two separate phases: a dispersed phase (or internal phase) and a continuous phase (or dispersion medium). A colloidal system may be solid, liquid, or gaseous. 
derived from http://en.wikipedia.org/wiki/Colloid

Of, pertaining to, or consisting of a colloid. 
http://en.wiktionary.org/wiki/colloidal</documentation>
        </annotation>
    </element>
    <complexType name="ColloidalComponentType">
        <complexContent>
            <extension base="gwml:WaterCompositionComponentType">
                <sequence>
                    <element name="colloid" type="gsml:ControlledConceptPropertyType">
                        <annotation>
                            <documentation>A colloid is a type of mechanical mixture where one substance is dispersed evenly throughout another. This attribute may be used to name a colloid.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="colloidalType" type="gwml:ColloidTypeType">
                        <annotation>
                            <documentation>A type of colloid, either sol, foam or emulsion.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ColloidalComponentPropertyType">
        <sequence minOccurs="0">
            <element ref="gwml:ColloidalComponent"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <complexType name="ColloidalComponentPropertyByValueType">
        <sequence>
            <element ref="gwml:ColloidalComponent"/>
        </sequence>
    </complexType>
    <element name="QualitativeQualityDescription" substitutionGroup="gwml:WaterQualityDescription" type="gwml:QualitativeQualityDescriptionType">
        <annotation>
            <documentation>A normative quality description is an assesment based upon some guideline edited by a gouvernment or a quality standard.  It can include things such as "odor" or "color".</documentation>
        </annotation>
    </element>
    <complexType name="QualitativeQualityDescriptionType">
        <complexContent>
            <extension base="gwml:WaterQualityDescriptionType">
                <sequence>
                    <element name="qualityTopic" type="gsml:CGI_TermPropertyType">
                        <annotation>
                            <documentation>What is being measured (ie, hardness, suspended material, odor or color)</documentation>
                        </annotation>
                    </element>
                    <element name="qualityAssessment" type="gsml:CGI_ValuePropertyType">
                        <annotation>
                            <documentation>Qualitative assesment of the water, using a normative quality descriptor.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="QualitativeQualityDescriptionPropertyType">
        <sequence>
            <element ref="gwml:QualitativeQualityDescription"/>
        </sequence>
    </complexType>
    <element name="WaterVolumeDescription" substitutionGroup="gwml:WaterQuantityDescription" type="gwml:WaterVolumeDescriptionType">
        <annotation>
            <documentation>A class used to describe the volume of water present in an aquifer.</documentation>
        </annotation>
    </element>
    <complexType name="WaterVolumeDescriptionType">
        <complexContent>
            <extension base="gwml:WaterQuantityDescriptionType">
                <sequence>
                    <element name="volumeType" type="gsml:CGI_TermPropertyType">
                        <annotation>
                            <documentation>Describes the type of volume that we are refering to eg: dynamicVolume, specificVolume, theoricVolume, gwStorage (static)</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="volume" type="gsml:CGI_NumericPropertyType">
                        <annotation>
                            <documentation>Total volume of water in an aquifer.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="WaterVolumeDescriptionPropertyType">
        <sequence>
            <element ref="gwml:WaterVolumeDescription"/>
        </sequence>
    </complexType>
    <element name="WaterYieldDescription" substitutionGroup="gwml:WaterQuantityDescription" type="gwml:WaterYieldDescriptionType">
        <annotation>
            <documentation>A class used to describe the different yield parameters of an aquifer.</documentation>
        </annotation>
    </element>
    <complexType name="WaterYieldDescriptionType">
        <complexContent>
            <extension base="gwml:WaterQuantityDescriptionType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="safeYield" type="gsml:CGI_ValuePropertyType">
                        <annotation>
                            <documentation>With reference to either a surface- or ground-water supply, the rate of diversion or extraction for &lt;i&gt;Consumptive Use &lt;/i&gt;which can be maintained indefinitely, within the limits of economic feasibility, under specified conditions of water-supply development. Also see &lt;i&gt;Perennial Yield&lt;/i&gt;.
&lt;b&gt;Yield, Perennial &lt;/b&gt;? The amount of usable water of a ground-water reservoir that can be economically withdrawn and consumed each year for an indefinite period of time. It cannot exceed the sum of the &lt;i&gt;Natural Recharge&lt;/i&gt;, the &lt;i&gt;Artificial &lt;/i&gt;(or &lt;i&gt;Induced&lt;/i&gt;) &lt;i&gt;Recharge&lt;/i&gt;, and the &lt;i&gt;Incidental Recharge &lt;/i&gt;without causing depletion of the groundwater reservoir. Also referred to as &lt;i&gt;Safe Yield&lt;/i&gt;.
http://water.nv.gov/WaterPlanning/dict-1/PDFs/wwords-y.pdf


Amount of water that can be retreived from an aquifer without jeopardising the resources but still involved some impacts (def. to be improved)</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="specificYield" type="gsml:CGI_NumericPropertyType">
                        <annotation>
                            <documentation>Specific yield, also known as the drainable porosity, is a ratio, less than or equal to the effective porosity, indicating the volumetric fraction of the bulk aquifer volume that a given aquifer will yield when all the water is allowed to drain out of it under the forces of gravity (http://en.wikipedia.org/wiki/Specific_storage)</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="sustainableYield" type="gsml:CGI_ValuePropertyType">
                        <annotation>
                            <documentation>&lt;b&gt;&lt;i&gt;The groundwater extraction regime, measured over a specified planning timeframe, that allows acceptable levels of stress and protects dependent economic, social, and environmental values.&lt;/i&gt;&lt;/b&gt;
&lt;b&gt;&lt;i&gt;http://www.environment.gov.au/water/publications/environmental/groundwater/pubs/annex-a.pdf&lt;/i&gt;&lt;/b&gt;

The sustainable yield of natural capital is the ecological yield that can be extracted without reducing the base of capital itself, i.e. the surplus required to maintain nature's services at the same or increasing level over time</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="WaterYieldDescriptionPropertyType">
        <sequence>
            <element ref="gwml:WaterYieldDescription"/>
        </sequence>
    </complexType>
    <element name="PhysicalProperty" type="gwml:PhysicalPropertyType">
        <annotation>
            <documentation>A generic class used to describe various physical properties.</documentation>
        </annotation>
    </element>
    <complexType name="PhysicalPropertyType"/>
    <complexType name="PhysicalPropertyPropertyType">
        <sequence>
            <element ref="gwml:PhysicalProperty"/>
        </sequence>
    </complexType>
    <element name="WaterQuantityDescription" substitutionGroup="gwml:WaterPropertyDescription" type="gwml:WaterQuantityDescriptionType">
        <annotation>
            <documentation>A class used to describe the the quantity of water that is present in an aquifer.</documentation>
        </annotation>
    </element>
    <complexType name="WaterQuantityDescriptionType">
        <complexContent>
            <extension base="gwml:WaterPropertyDescriptionType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="qualitativeWaterQuantity" type="gsml:CGI_TermPropertyType">
                        <annotation>
                            <documentation>Qualitative description of the water quantity (such as 'wet' or 'dry'). Often the only information recorded in some water well records</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="WaterQuantityDescriptionPropertyType">
        <sequence>
            <element ref="gwml:WaterQuantityDescription"/>
        </sequence>
    </complexType>
    <element name="Porosity" substitutionGroup="gwml:GeologicProperty" type="gwml:PorosityType">
        <annotation>
            <documentation>Used in geology, hydrogeology, soil science, and building science, the porosity of a porous medium (such as rock or sediment) describes the fraction of void space in the material, where the void may contain, for example, air or water.
http://en.wikipedia.org/wiki/Porosity</documentation>
        </annotation>
    </element>
    <complexType name="PorosityType">
        <complexContent>
            <extension base="gwml:GeologicPropertyType"/>
        </complexContent>
    </complexType>
    <complexType name="PorosityPropertyType">
        <sequence>
            <element ref="gwml:Porosity"/>
        </sequence>
    </complexType>
    <element name="WaterPropertyDescription" type="gwml:WaterPropertyDescriptionType">
        <annotation>
            <documentation>Water Property description are the properties of the HydrogeologicUnit regarding its water content.  Two aspects are considered, First the quantity (the amount of water that is present, as opposed to the amount of water that can potentially be there) and second, the quality of that water.  </documentation>
        </annotation>
    </element>
    <complexType name="WaterPropertyDescriptionType">
        <sequence>
            <element maxOccurs="1" minOccurs="0" name="metadata" type="gmd:MD_Metadata_PropertyType">
                <annotation>
                    <documentation>Metadata used to describe the water properties.</documentation>
                </annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="validityTime" type="gml:TimePrimitivePropertyType">
                <annotation>
                    <documentation>Time instant or period at which this value has any validity.  NOTE: the time at which this observation was made is carried by O&amp;M </documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="WaterPropertyDescriptionPropertyType">
        <sequence>
            <element ref="gwml:WaterPropertyDescription"/>
        </sequence>
    </complexType>
    <element name="WaterQualityDescription" substitutionGroup="gwml:WaterPropertyDescription" type="gwml:WaterQualityDescriptionType">
        <annotation>
            <documentation>A list of common properties related to water quality assessment.  Head of a substitution list that include Qualitative and Quantitative water quality properties</documentation>
        </annotation>
    </element>
    <complexType name="WaterQualityDescriptionType">
        <complexContent>
            <extension base="gwml:WaterPropertyDescriptionType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="normComplianceResult" type="gsml:CGI_TermPropertyType">
                        <annotation>
                            <documentation>Evaluation of the compliance of this result compared to the norm (eg, below the norm, above the norm, meeting, exceeding..)</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="normDocumentation" type="gmd:CI_Citation_PropertyType">
                        <annotation>
                            <documentation>Identification of a norm (if any) that is should be considered to interpret the result.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="WaterQualityDescriptionPropertyType">
        <sequence>
            <element ref="gwml:WaterQualityDescription"/>
        </sequence>
    </complexType>
    <element name="WaterAgeDescription" substitutionGroup="gwml:WaterPropertyDescription" type="gwml:WaterAgeDescriptionType">
        <annotation>
            <documentation>The age of the water is generally (always?) the age of infiltration.  The infiltration can be in an aquifer different from the aquifer it actually resides in (for example, water infiltrated in a surface aquifer and migrated slowly in a deeper  - rock perhaps - aquifer).</documentation>
        </annotation>
    </element>
    <complexType name="WaterAgeDescriptionType">
        <complexContent>
            <extension base="gwml:WaterPropertyDescriptionType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="periodOfResidence" type="duration">
                        <annotation>
                            <documentation>The time period in which a unit of water resides in an aquifer.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="waterAge" type="gsml:GeologicEventPropertyType">
                        <annotation>
                            <documentation>The age of the water, expressed as a geologicEvent. Refer to http://www.geosciml.org/documentation/geosciml/2.0_rc3/GeoSciML/GeologicAge/GeologicEvent.html for a complete description of a geologicEvent.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="WaterAgeDescriptionPropertyType">
        <sequence>
            <element ref="gwml:WaterAgeDescription"/>
        </sequence>
    </complexType>
    <element name="GeologicProperty" substitutionGroup="gwml:PhysicalProperty" type="gwml:GeologicPropertyType">
        <annotation>
            <documentation>The geologic property of an aquifer.</documentation>
        </annotation>
    </element>
    <complexType name="GeologicPropertyType">
        <complexContent>
            <extension base="gwml:PhysicalPropertyType"/>
        </complexContent>
    </complexType>
    <complexType name="GeologicPropertyPropertyType">
        <sequence>
            <element ref="gwml:GeologicProperty"/>
        </sequence>
    </complexType>
    <element name="HydraulicConductivity" substitutionGroup="gwml:WaterPropertyDescription" type="gwml:HydraulicConductivityType">
        <annotation>
            <documentation>Hydraulic conductivity, symbolically represented as K, is a property of vascular plants, soil or rock, that describes the ease with which water can move through pore spaces or fractures. It depends on the intrinsic permeability of the material and on the degree of saturation.

http://en.wikipedia.org/wiki/Hydraulic_conductivity</documentation>
        </annotation>
    </element>
    <complexType name="HydraulicConductivityType">
        <complexContent>
            <extension base="gwml:WaterPropertyDescriptionType"/>
        </complexContent>
    </complexType>
    <complexType name="HydraulicConductivityPropertyType">
        <sequence>
            <element ref="gwml:HydraulicConductivity"/>
        </sequence>
    </complexType>
    <element abstract="true" name="WaterCompositionComponent" type="gwml:WaterCompositionComponentType">
        <annotation>
            <documentation>An abstract class that is used to describe a component that can be present in groundwater</documentation>
        </annotation>
    </element>
    <complexType abstract="true" name="WaterCompositionComponentType">
        <sequence>
            <element name="concentration" type="gsml:CGI_NumericPropertyType">
                <annotation>
                    <documentation>In chemistry, concentration is the measure of how much of a given substance there is mixed with another substance. This can apply to any sort of chemical mixture, but most frequently the concept is limited to homogeneous solutions, where it refers to the amount of solute in a substance.
http://en.wikipedia.org/wiki/Concentration</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="WaterCompositionComponentPropertyType">
        <sequence>
            <element ref="gwml:WaterCompositionComponent"/>
        </sequence>
    </complexType>
    <element abstract="true" name="WaterCompositionDescription" substitutionGroup="gwml:WaterQualityDescription" type="gwml:WaterCompositionDescriptionType">
        <annotation>
            <documentation>An abstract class used to describe the composition of water. </documentation>
        </annotation>
    </element>
    <complexType abstract="true" name="WaterCompositionDescriptionType">
        <complexContent>
            <extension base="gwml:WaterQualityDescriptionType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="compositionCategory" type="gsml:ControlledConceptPropertyType">
                        <annotation>
                            <documentation>Describe what kind of concentration is represented, such as "Natural quality", "suitability for irrigation", etc..</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="salinityCategory" type="gwml:WaterTypeType">
                        <annotation>
                            <documentation>This property refers to the type of salinity that is present in the water. </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="1" name="components" type="gwml:WaterCompositionComponentPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="WaterCompositionDescriptionPropertyType">
        <sequence>
            <element ref="gwml:WaterCompositionDescription"/>
        </sequence>
    </complexType>
    <group name="SolutionComponent">
        <annotation>
            <documentation>In chemistry, a solution is a homogeneous mixture composed of two or more substances. In such a mixture, a solute is dissolved in another substance, known as a solvent. A common example is a solid, such as salt or sugar, dissolved in water, a liquid. Gases may dissolve in liquids, for example, carbon dioxide or oxygen in water. Liquids may dissolve in other liquids.
http://en.wikipedia.org/wiki/Solution

This class is used to describe a dissolved component in groundwater.</documentation>
        </annotation>
        <choice>
            <element ref="gsml:ControlledConcept">
                <annotation>
                    <documentation>Name of a dissolved chemical component in groundwater that is not a salt.</documentation>
                </annotation>
            </element>
            <element ref="gwml:Salt">
                <annotation>
                    <documentation>Name of a salt component dissolved in groundwater.</documentation>
                </annotation>
            </element>
        </choice>
    </group>
    <complexType name="SolutionComponentPropertyType">
        <sequence minOccurs="0">
            <group ref="gwml:SolutionComponent"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attribute name="unionSemantics" type="gwml:SolutionComponentUnionSemantics"/>
    </complexType>
    <simpleType name="SolutionComponentUnionSemantics">
        <restriction base="string">
            <enumeration value="dissolvedChemical"/>
            <enumeration value="dissolvedSalt"/>
        </restriction>
    </simpleType>
    <simpleType name="WaterTypeType">
        <restriction base="string">
            <enumeration value="ultraFreshWater">
                <annotation>
                    <documentation>TBD</documentation>
                </annotation>
            </enumeration>
            <enumeration value="freshWater">
                <annotation>
                    <documentation>A- Freshwater is a word that refers to bodies of water such as ponds, lakes, rivers and streams containing low concentrations of dissolved salts and other total dissolved solids. In other words, the term excludes seawater and brackish water. Freshwater can also be the output of desalinated seawater.
http://en.wikipedia.org/wiki/Freshwater

Fresh water: Water with less than 0.5 parts per thousand dissolved salts.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="acratopegae">
                <annotation>
                    <documentation>From Ancient Greek akratos ( "pure, unmixed") and PEGE ( "source, fountain). Water with low mineral content or less than mineral water.

Translated from :
Du grec ancien akratos (? pur, sans m?lange ?) et p?g? (? source, fontaine ?). Qui a, en parlant d'une eau, une faible teneur en sels min?raux ou une teneur moindre que celle d'une eau min?rale.
http://fr.wiktionary.org/wiki/acratop%C3%A8ge</documentation>
                </annotation>
            </enumeration>
            <enumeration value="brackishWater">
                <annotation>
                    <documentation>Brackish water (less commonly brack water) is water that has more salinity than fresh water, but not as much as seawater. It may result from mixing of seawater with fresh water, as in estuaries, or it may occur in brackish fossil aquifers. The word comes from the Middle Dutch root "brak," meaning "salten" or "salty"
http://en.wikipedia.org/wiki/Brackish</documentation>
                </annotation>
            </enumeration>
            <enumeration value="saltWater">
                <annotation>
                    <documentation>Saline water is a general term for water that contains a significant concentration of dissolved salts (NaCl). The concentration is usually expressed in parts per million (ppm) of salt. The salinity concentration level used by United States Geological Survey classifies saline water in three categories. Slightly saline water contains around 1,000 to 3,000 ppm. Moderately saline water contains roughly 3,000 to 10,000 ppm. Highly saline water has around 10,000 to 35,000 ppm of salt. Seawater has a salinity of roughly 35,000 ppm, equivalent to 35 g/L. Technically,  brackish water contains between 0.5 to 30 grams of salt per litre?more often expressed as 0.5 to 30 parts per thousand (ppt or ?). Thus,  brackish covers a range of salinity regimes and is not considered a precisely defined condition.
http://en.wikipedia.org/wiki/Saline_water</documentation>
                </annotation>
            </enumeration>
            <enumeration value="brineWater">
                <annotation>
                    <documentation>Brine (lat. saltus) is water saturated or nearly saturated with salt (NaCl).
http://en.wikipedia.org/wiki/Brine</documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>
    <simpleType name="ColloidTypeType">
        <restriction base="string">
            <enumeration value="sol">
                <annotation>
                    <documentation>A sol is a colloidal suspension of solid particles (1-500 nanometres in size) in a liquid. Examples include blood, pigmented ink, and paint.

http://en.wikipedia.org/wiki/Sol_(colloid)</documentation>
                </annotation>
            </enumeration>
            <enumeration value="foam">
                <annotation>
                    <documentation>The most general definition of foam is a substance that is formed by trapping many gas bubbles in a liquid or solid.

http://en.wikipedia.org/wiki/Foam</documentation>
                </annotation>
            </enumeration>
            <enumeration value="emulsion">
                <annotation>
                    <documentation>An 'emulsion' [IPA]: [1]) is a mixture of two immiscible (unblendable) liquids. One liquid (the dispersed phase) is dispersed in the other (the continuous phase). 

http://en.wikipedia.org/wiki/Emulsion</documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>
</schema>