src/main/webapp/schemas/HydrogeologicFeature.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:gsml="urn:cgi:xmlns:CGI:GeoSciML:2.0" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gwml="http://www.nrcan.gc.ca/xml/gwml/1" targetNamespace="http://www.nrcan.gc.ca/xml/gwml/1" elementFormDefault="qualified" attributeFormDefault="unqualified"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>The GWML HydrogeologicFeature package contains a class used to describe a feature of the hydrogeology domain.</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
    <import namespace="urn:cgi:xmlns:CGI:GeoSciML:2.0" schemaLocation="http://www.geosciml.org/geosciml/2.0/xsd/geosciml.xsd"/>
    <import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
    <include schemaLocation="gwml.xsd"/>
    <element abstract="true" name="HydrogeologicFeature" substitutionGroup="gsml:GeologicFeature" type="gwml:HydrogeologicFeatureType">
        <annotation>
            <documentation>An abstract feature of the hydrogeology domain which is not a hydrogeologic unit</documentation>
        </annotation>
    </element>
    <complexType abstract="true" name="HydrogeologicFeatureType">
        <complexContent>
            <extension base="gsml:GeologicFeatureType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="occurence" type="gsml:MappedFeaturePropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="metadata" type="gmd:MD_Metadata_PropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="HydrogeologicFeaturePropertyType">
        <sequence minOccurs="0">
            <element ref="gwml:HydrogeologicFeature"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
</schema>