src/main/webapp/schemas/timeseriesLite.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:wml2="http://www.opengis.net/waterml/2.0" targetNamespace="http://www.opengis.net/waterml/2.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>[WARN-A001] - No package description in UML model</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <include schemaLocation="waterml2.xsd"/>
    <include schemaLocation="waterResultsCoverage.xsd"/>
    <element name="TimeseriesLite" substitutionGroup="gml:AbstractFeature" type="wml2:TimeseriesLiteType"/>
    <complexType name="TimeseriesLiteType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="unitOfMeasure" type="string">
                        <annotation>
                            <documentation>The time in between each point for isochronous time series. 
</documentation>
                        </annotation>
                    </element>
                    <element name="dataType" type="gml:ReferenceType">
                        <annotation>
                            <documentation>The data type for each point in the series. I.e. must be homogeneous
</documentation>
                        </annotation>
                    </element>
                    <element name="quality" type="gml:ReferenceType">
                        <annotation>
                            <documentation>The representative quality of the whole time series. 
</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="processing" type="gml:ReferenceType">
                        <annotation>
                            <documentation>The processing type of the time series. Applies to each point in the series. 
</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="qualifier" type="gml:ReferenceType">
                        <annotation>
                            <documentation>The qualifier for the whole series. 
</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="baseTime" type="gml:TimePositionType">
                        <annotation>
                            <documentation>The time to be used as base time if the time series is isochronous. 
</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="spacing" type="duration">
                        <annotation>
                            <documentation>The time in between each point for isochronous time series. 
</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="1" name="point" type="wml2:CompactTimeValuePairPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="TimeseriesLitePropertyType">
        <sequence minOccurs="0">
            <element ref="wml2:TimeseriesLite"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="CompactTimeValuePair" substitutionGroup="gml:AbstractObject" type="wml2:CompactTimeValuePairType"/>
    <complexType name="CompactTimeValuePairType">
        <sequence>
            <element maxOccurs="1" minOccurs="0" name="time" type="gml:TimePositionType"/>
            <element name="value" type="double"/>
            <element maxOccurs="1" minOccurs="0" name="qualifier" type="gml:ReferenceType"/>
        </sequence>
    </complexType>
    <complexType name="CompactTimeValuePairPropertyType">
        <sequence>
            <element ref="wml2:CompactTimeValuePair"/>
        </sequence>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
</schema>