src/main/webapp/schemas/waterResultsCoverage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:wml2="http://www.opengis.net/waterml/2.0" xmlns:om="http://www.opengis.net/om/2.0" xmlns:swe="http://www.opengis.net/swe/2.0" targetNamespace="http://www.opengis.net/waterml/2.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>[WARN-A001] - No package description in UML model</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <import namespace="http://www.opengis.net/swe/2.0" schemaLocation="file:///C:/OGC/SCHEMAS_OPENGIS_NET/sweCommon/2.0/swe.xsd"/>
    <import namespace="http://www.opengis.net/om/2.0" schemaLocation="file:///C:/OGC/SCHEMAS_OPENGIS_NET/om/2.0/observation.xsd"/>
    <include schemaLocation="waterml2.xsd"/>
    <element name="Timeseries" substitutionGroup="gml:AbstractFeature" type="wml2:TimeseriesType">
        <annotation>
            <documentation>Describes a time series as a collection of time-value pairs. A time series is a also a realisation of a discrete time coverage as defined by ISO19123 - Coverages. 
</documentation>
        </annotation>
    </element>
    <complexType name="TimeseriesType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element name="domainExtent" type="gml:TimePeriodPropertyType"/>
                    <element maxOccurs="1" minOccurs="0" name="startAnchorPoint" type="gml:TimePositionType">
                        <annotation>
                            <documentation>The anchor point for the beginning of the series. 
</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="endAnchorPoint" type="gml:TimePositionType">
                        <annotation>
                            <documentation>The anchor point for the end of the series. 
</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="baseTime" type="gml:TimePositionType">
                        <annotation>
                            <documentation>Defines the start time for isochronous (equidistant) time series. Each point occurs at regular steps (defined by the spacing property). 
</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="spacing" type="duration">
                        <annotation>
                            <documentation>The spacing between points for isochronous or equidistant (equally space) points. 
</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="cumulative" type="boolean">
                        <annotation>
                            <documentation>Sets the time series to be a cumulative series. 
</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="accumulationAnchorTime" type="gml:TimePositionType">
                        <annotation>
                            <documentation>Defines the time at which accumulation begins. 
</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="accumulationIntervalLength" type="duration">
                        <annotation>
                            <documentation>Defines the period over which accumulation occurs. 
</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="aggregationDuration" type="duration">
                        <annotation>
                            <documentation>Specifies the duration over which aggregation of the series has occurred (e.g. daily averages, 1 hourly etc.).
</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="commentBlock" type="wml2:CommentBlockPropertyType">
                        <annotation>
                            <documentation>A comment that applies over a period of time for the time series. 
</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="defaultTimeValuePair" type="wml2:TimeValuePairPropertyType"/>
                    <element maxOccurs="1" minOccurs="0" name="parameter" type="om:NamedValuePropertyType">
                        <annotation>
                            <documentation>A soft-typed parameter for arbitrary metadata elements. 
</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="1" name="point" type="wml2:TimeValuePairPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="TimeseriesPropertyType">
        <sequence minOccurs="0">
            <element ref="wml2:Timeseries"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="CommentBlock" substitutionGroup="gml:AbstractObject" type="wml2:CommentBlockType"/>
    <complexType name="CommentBlockType">
        <sequence>
            <element name="applicablePeriod" type="gml:TimePeriodPropertyType">
                <annotation>
                    <documentation>The period over which the comment applies. 
</documentation>
                </annotation>
            </element>
            <element name="comment" type="string">
                <annotation>
                    <documentation>The comment that applies for the period. 
</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="CommentBlockPropertyType">
        <sequence>
            <element ref="wml2:CommentBlock"/>
        </sequence>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="TimeValuePair" substitutionGroup="gml:AbstractObject" type="wml2:TimeValuePairType"/>
    <complexType name="TimeValuePairType">
        <sequence>
            <element maxOccurs="1" minOccurs="0" name="time" type="gml:TimePositionType">
                <annotation>
                    <documentation>The time instant for the data point. 
</documentation>
                </annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="value" type="double" nillable="true">
                <annotation>
                    <documentation>The scalar quantity associated with the time instant. 
</documentation>
                </annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="unitOfMeasure" type="gml:ReferenceType">
                <annotation>
                    <documentation>Defines the unit of measure for the result value.
</documentation>
                </annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="quality" type="gml:ReferenceType">
                <annotation>
                    <documentation>Defines the quality of the point (or the default if it is the defaultTimeValuePair)
</documentation>
                </annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="dataType" type="gml:ReferenceType">
                <annotation>
                    <documentation>The data type of the time series point. This describes the nature of the value to the time with which it is associated. E.g. average in the preceeding interval. 
</documentation>
                </annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="comment" type="string">
                <annotation>
                    <documentation>Free text comment associated with the data point. 
</documentation>
                </annotation>
            </element>
            <element maxOccurs="1" minOccurs="0" name="processing" type="gml:ReferenceType">
                <annotation>
                    <documentation>Defines what processing has occured on the data point. 
</documentation>
                </annotation>
            </element>
            <element maxOccurs="unbounded" minOccurs="0" name="qualifier" type="gml:ReferenceType">
                <annotation>
                    <documentation>A general qualifier for the point to define influencing conditions, or other qualifying information. A broader, more flexible categorisation than quality. 
</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="TimeValuePairPropertyType">
        <sequence>
            <element ref="wml2:TimeValuePair"/>
        </sequence>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
</schema>