src/main/webapp/schemas/WaterBody.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:gsml="urn:cgi:xmlns:CGI:GeoSciML:2.0" xmlns:gwml="http://www.nrcan.gc.ca/xml/gwml/1" targetNamespace="http://www.nrcan.gc.ca/xml/gwml/1" elementFormDefault="qualified" attributeFormDefault="unqualified"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>The GWML WaterBody package contains a set of classes used to describe the properties of a water body, either from the ground, underground or atmospheric.</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
    <import namespace="urn:cgi:xmlns:CGI:GeoSciML:2.0" schemaLocation="http://www.geosciml.org/geosciml/2.0/xsd/geosciml.xsd"/>
    <include schemaLocation="gwml.xsd"/>
    <element abstract="true" name="WaterBody" substitutionGroup="gml:_Feature" type="gwml:WaterBodyType">
        <annotation>
            <documentation>A mass or a volume of water, constrained geographically and/or structurally.  An ocean is a water body, as a the water within an aquifer. This class is a distinction between water as a material and water as a feature

The concept of water body is also present in Vogt (2002) [Vogt, J., 2002. Guidance Document on Implementing the GIS Elements of the Water Framework Directive] as an European directive.  In the latter case, the european concept is more administrative than scientific.

The spatio-temporal representation of this body (it's geometry at time T is representated by a MappedFeature)</documentation>
        </annotation>
    </element>
    <complexType abstract="true" name="WaterBodyType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element name="volume" type="gsml:CGI_NumericPropertyType">
                        <annotation>
                            <documentation>Volume of water present in a water body.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="subBody" type="gwml:WaterBodyPropertyType"/>
                    <element maxOccurs="1" minOccurs="0" name="superBody" type="gwml:WaterBodyPropertyType"/>
                    <element name="waterComposition" type="gwml:WaterCompositionDescriptionPropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="occurence" type="gwml:HydrogeologicMappedFeaturePropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="WaterBodyPropertyType">
        <sequence minOccurs="0">
            <element ref="gwml:WaterBody"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="SufaceWaterBody" substitutionGroup="gwml:WaterBody" type="gwml:SufaceWaterBodyType">
        <annotation>
            <documentation>Water collecting on the ground or in a stream, river, lake, wetland, or ocean is called surface water, as opposed to groundwater or atmospheric water.
http://en.wikipedia.org/wiki/Surface_water

The water from all sources that occurs on the Earth's surface either as diffused water or as water in natural channels, artificial channels, or other surface water bodies. 
http://ohioline.osu.edu/aex-fact/0460.html

(This should be detailed by the surface water working group.)</documentation>
        </annotation>
    </element>
    <complexType name="SufaceWaterBodyType">
        <complexContent>
            <extension base="gwml:WaterBodyType"/>
        </complexContent>
    </complexType>
    <complexType name="SufaceWaterBodyPropertyType">
        <sequence minOccurs="0">
            <element ref="gwml:SufaceWaterBody"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="HydrogeologicMappedFeature" substitutionGroup="gsml:MappedFeature" type="gwml:HydrogeologicMappedFeatureType">
        <annotation>
            <documentation>Mapped feature more oriented on spatial temporal (although geometries could handle this).

A physical hydrogeologic feature represented on a map.</documentation>
        </annotation>
    </element>
    <complexType name="HydrogeologicMappedFeatureType">
        <complexContent>
            <extension base="gsml:MappedFeatureType">
                <sequence>
                    <element name="dateOfValidity" type="gml:ReferenceType">
                        <annotation>
                            <appinfo>
                                <gml:targetElement>gml:_TimeObject</gml:targetElement>
                            </appinfo>
                            <documentation>MappedFeature in hydrogeology are quite variable over time.  This property defines over what time period this geometry actually make sense.  </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="1" name="classifier" type="gwml:WaterBodyPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="HydrogeologicMappedFeaturePropertyType">
        <sequence minOccurs="0">
            <element ref="gwml:HydrogeologicMappedFeature"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="AtmosphericWaterBody" substitutionGroup="gwml:WaterBody" type="gwml:AtmosphericWaterBodyType">
        <annotation>
            <documentation>Quatity of water, in gaseous, liquid or solid phase, present in the atmosphere.</documentation>
        </annotation>
    </element>
    <complexType name="AtmosphericWaterBodyType">
        <complexContent>
            <extension base="gwml:WaterBodyType"/>
        </complexContent>
    </complexType>
    <complexType name="AtmosphericWaterBodyPropertyType">
        <sequence minOccurs="0">
            <element ref="gwml:AtmosphericWaterBody"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="GroundwaterBody" substitutionGroup="gwml:WaterBody" type="gwml:GroundwaterBodyType">
        <annotation>
            <documentation>A distinct volume of groundwater within an aquifer or aquifers (Vogt, 2002). The equivalent in the European Water Framework Directive (2000/60/CE, 2000) is "Body of groundwater" defined exactly in the same way.</documentation>
        </annotation>
    </element>
    <complexType name="GroundwaterBodyType">
        <complexContent>
            <extension base="gwml:WaterBodyType">
                <sequence>
                    <element name="hostUnit" type="gwml:HydrogeologicUnitPropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="waterQuality" type="gwml:WaterQualityDescriptionPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="GroundwaterBodyPropertyType">
        <sequence minOccurs="0">
            <element ref="gwml:GroundwaterBody"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
</schema>