src/main/webapp/schemas/WaterQualityMeasurement.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:cgu="urn:cgi:xmlns:CGI:Utilities:1.0" xmlns:gsml="urn:cgi:xmlns:CGI:GeoSciML:2.0" xmlns:sa="http://www.opengis.net/sampling/1.0" xmlns:gwml="http://www.nrcan.gc.ca/xml/gwml/1" xmlns:sml="http://www.opengis.net/sensorML/1.0.1" xmlns:omx="http://www.opengis.net/omx/1.0" xmlns:om="http://www.opengis.net/om/1.0" xmlns:swe="http://www.opengis.net/swe/1.0.1" targetNamespace="http://www.nrcan.gc.ca/xml/gwml/1" elementFormDefault="qualified" attributeFormDefault="unqualified"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>The GWML WaterQualityMeasurement package contains a set of classes used to describe the quality of the groundwater.</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
    <import namespace="urn:cgi:xmlns:CGI:Utilities:1.0" schemaLocation="http://www.geosciml.org/cgiutilities/1.0/xsd/cgiUtilities.xsd"/>
    <import namespace="http://www.opengis.net/swe/1.0.1" schemaLocation="http://schemas.opengis.net/sweCommon/1.0.1/swe.xsd"/>
    <import namespace="http://www.opengis.net/sensorML/1.0.1" schemaLocation="http://schemas.opengis.net/sensorML/1.0.1/sensorML.xsd"/>
    <import namespace="http://www.opengis.net/sampling/1.0" schemaLocation="http://schemas.opengis.net/sampling/1.0.0/sampling.xsd"/>
    <import namespace="http://www.opengis.net/om/1.0" schemaLocation="http://schemas.opengis.net/om/1.0.0/om.xsd"/>
    <import namespace="http://www.opengis.net/omx/1.0" schemaLocation="http://schemas.opengis.net/omx/1.0.0/om_extended.xsd"/>
    <import namespace="http://www.opengis.net/om/1.0" schemaLocation="http://schemas.opengis.net/om/1.0.0/om.xsd"/>
    <import namespace="http://www.opengis.net/omx/1.0" schemaLocation="http://schemas.opengis.net/omx/1.0.0/om_extended.xsd"/>
    <import namespace="urn:cgi:xmlns:CGI:GeoSciML:2.0" schemaLocation="http://www.geosciml.org/geosciml/2.0/xsd/geosciml.xsd"/>
    <include schemaLocation="gwml.xsd"/>
    <element name="GuideLine" substitutionGroup="sml:_Process" type="gwml:GuideLineType">
        <annotation>
            <documentation>Prescribed methodology</documentation>
        </annotation>
    </element>
    <complexType name="GuideLineType">
        <complexContent>
            <extension base="sml:AbstractProcessType"/>
        </complexContent>
    </complexType>
    <complexType name="GuideLinePropertyType">
        <sequence minOccurs="0">
            <element ref="gwml:GuideLine"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="WaterSpecimen" substitutionGroup="sa:Specimen" type="gwml:WaterSpecimenType">
        <annotation>
            <documentation>This class is a sub-class of a specimen class, which is defined as follows "A Specimen is some physical material sampled from a specified location, typically associated with a Site, such as a Station, a location or interval within a Section, or a location or extent from a DescriptionExtent".  

It adds a specific property for a waterSpecimen (volume).</documentation>
        </annotation>
    </element>
    <complexType name="WaterSpecimenType">
        <complexContent>
            <extension base="sa:SpecimenType">
                <sequence>
                    <element name="volume" type="gsml:CGI_NumericPropertyType">
                        <annotation>
                            <documentation>Volume of the water specimen, expressed as a CGI_Numeric value (value + unit of measure).</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="WaterSpecimenPropertyType">
        <sequence minOccurs="0">
            <element ref="gwml:WaterSpecimen"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="Calculation" substitutionGroup="omx:CalculationProcess" type="gwml:CalculationType">
        <annotation>
            <documentation>Water Quality procedure  (from Environment Canada)</documentation>
        </annotation>
    </element>
    <complexType name="CalculationType">
        <complexContent>
            <extension base="omx:CalculationProcessType"/>
        </complexContent>
    </complexType>
    <complexType name="CalculationPropertyType">
        <sequence minOccurs="0">
            <element ref="gwml:Calculation"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="WaterQualityIndex" substitutionGroup="om:Observation" type="gwml:WaterQualityIndexType">
        <annotation>
            <documentation>Classification of water quality through an index. This class is a subclass a measurement class.</documentation>
        </annotation>
    </element>
    <complexType name="WaterQualityIndexType">
        <complexContent>
            <extension base="om:ObservationType"/>
        </complexContent>
    </complexType>
    <complexType name="WaterQualityIndexPropertyType">
        <sequence minOccurs="0">
            <element ref="gwml:WaterQualityIndex"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
</schema>