src/main/webapp/schemas/WaterCollection.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:wml2="http://www.opengis.net/waterml/2.0" xmlns:om="http://www.opengis.net/om/2.0" xmlns:sams="http://www.opengis.net/samplingSpatial/2.0" xmlns:sam="http://www.opengis.net/sampling/2.0" targetNamespace="http://www.opengis.net/waterml/2.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>A generic collection of of observations and metadata about the collection.</documentation>
        <appinfo>
            <sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron">
                <sch:title>Schematron constraints for "Collection"</sch:title>
                <sch:ns prefix="sch" uri="http://purl.oclc.org/dsdl/schematron"/>
                <sch:ns prefix="xlink" uri="http://www.w3.org/1999/xlink"/>
                <sch:ns prefix="wml2" uri="http://www.opengis.net/waterml/2.0"/>
                <sch:pattern name="Properties for StringNamedValue">
                    <sch:rule context="//wml2:StringNamedValue">
                        <sch:assert test="wml2:value/wml2: or (empty(wml2:value/*) and wml2:value/@xlink:href)">value must contain either  or nothing (and carry an xlink:href instead)</sch:assert>
                    </sch:rule>
                </sch:pattern>
            </sch:schema>
        </appinfo>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <import namespace="http://www.opengis.net/sampling/2.0" schemaLocation="http://services.iwis.csiro.au/WaterML2Validation/schemas/externalSchemas/SCHEMAS_OPENGIS_NET//sampling/2.0/samplingFeature.xsd"/>
    <import namespace="http://www.opengis.net/samplingSpatial/2.0" schemaLocation="http://services.iwis.csiro.au/WaterML2Validation/schemas/externalSchemas/SCHEMAS_OPENGIS_NET//samplingSpatial/2.0/spatialSamplingFeature.xsd"/>
    <import namespace="http://www.opengis.net/om/2.0" schemaLocation="http://services.iwis.csiro.au/WaterML2Validation/schemas/externalSchemas/SCHEMAS_OPENGIS_NET/om/2.0/observation.xsd"/>
    <include schemaLocation="waterSampling.xsd"/>
    <include schemaLocation="waterObservation.xsd"/>
    <element name="WaterMonitoringCollection" substitutionGroup="gml:AbstractFeature" type="wml2:WaterMonitoringCollectionType">
        <annotation>
            <documentation>A collection representing a number of water observations and/or sampling features along with local definitions for dictionaries. 
</documentation>
        </annotation>
    </element>
    <complexType name="WaterMonitoringCollectionType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element name="metadata" type="wml2:DocumentMetadataPropertyType"/>
                    <element maxOccurs="1" minOccurs="0" name="temporalExtent" type="gml:TimePeriodPropertyType">
                        <annotation>
                            <documentation>Describes the temporal extent of the all the time series contained within the collection (if they exist). 
</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="parameter" type="om:NamedValuePropertyType">
                        <annotation>
                            <documentation>A soft typed parameter for extra metadata properties. 
</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="phenomenaDictionary">
                        <complexType>
                            <sequence>
                                <element ref="gml:Dictionary"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="qualifierDictionary">
                        <complexType>
                            <sequence>
                                <element ref="gml:Dictionary"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="qualityDictionary">
                        <complexType>
                            <sequence>
                                <element ref="gml:Dictionary"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="processingDictionary">
                        <complexType>
                            <sequence>
                                <element ref="gml:Dictionary"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="samplingFeatureMember" type="wml2:SamplingFeatureMemberPropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="observationMember" type="wml2:WaterMonitoringObservationPropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="extension" type="anyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="WaterMonitoringCollectionPropertyType">
        <sequence minOccurs="0">
            <element ref="wml2:WaterMonitoringCollection"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="StringNamedValue" substitutionGroup="gml:AbstractFeature" type="wml2:StringNamedValueType"/>
    <complexType name="StringNamedValueType">
        <annotation>
            <documentation>The following properties inherited from parent classes are overridden in Schematron assertions:

attribute: value</documentation>
        </annotation>
        <complexContent>
            <extension base="gml:AbstractFeatureType"/>
        </complexContent>
    </complexType>
    <complexType name="StringNamedValuePropertyType">
        <sequence minOccurs="0">
            <element ref="wml2:StringNamedValue"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="DocumentMetadata" substitutionGroup="gml:AbstractGML" type="wml2:DocumentMetadataType">
        <annotation>
            <documentation>Metadata about the document</documentation>
        </annotation>
    </element>
    <complexType name="DocumentMetadataType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
                    <element name="generationDate" type="dateTime"/>
                    <element maxOccurs="1" minOccurs="0" name="version" type="gml:ReferenceType"/>
                    <element maxOccurs="1" minOccurs="0" name="generationSystem" type="string"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="DocumentMetadataPropertyType">
        <sequence minOccurs="0">
            <element ref="wml2:DocumentMetadata"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <group name="SamplingFeatureMember">
        <annotation>
            <documentation>A choice of defining a single sampling feature, or a grouping.</documentation>
        </annotation>
        <choice>
            <element ref="sams:SF_SpatialSamplingFeature"/>
            <element ref="sam:SF_SamplingFeatureCollection"/>
        </choice>
    </group>
    <complexType name="SamplingFeatureMemberPropertyType">
        <sequence minOccurs="0">
            <group ref="wml2:SamplingFeatureMember"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attribute name="unionSemantics" type="wml2:SamplingFeatureMemberUnionSemantics"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <simpleType name="SamplingFeatureMemberUnionSemantics">
        <restriction base="string">
            <enumeration value="byFeature"/>
            <enumeration value="byGroup"/>
        </restriction>
    </simpleType>
</schema>