src/main/webapp/schemas/WellConstruction.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:cgu="urn:cgi:xmlns:CGI:Utilities:1.0" xmlns:gsml="urn:cgi:xmlns:CGI:GeoSciML:2.0" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:sa="http://www.opengis.net/sampling/1.0" xmlns:gwml="http://www.nrcan.gc.ca/xml/gwml/1" xmlns:sml="http://www.opengis.net/sensorML/1.0.1" xmlns:omx="http://www.opengis.net/omx/1.0" xmlns:om="http://www.opengis.net/om/1.0" xmlns:swe="http://www.opengis.net/swe/1.0.1" targetNamespace="http://www.nrcan.gc.ca/xml/gwml/1" elementFormDefault="qualified" attributeFormDefault="unqualified"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>The GWML WellConstruction package contains a set of classes used to describe the construction of water well.

Specifically, this package can be used to obtain the following information.

-Overall well dimension
-Construction method
-Type and composition of all materials used
-Dimensions, design features and location of each significant component (including the well pump)</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
    <import namespace="http://www.opengis.net/om/1.0" schemaLocation="http://schemas.opengis.net/om/1.0.0/om.xsd"/>
    <import namespace="http://www.opengis.net/omx/1.0" schemaLocation="http://schemas.opengis.net/omx/1.0.0/om_extended.xsd"/>
    <import namespace="http://www.opengis.net/sampling/1.0" schemaLocation="http://schemas.opengis.net/sampling/1.0.0/sampling.xsd"/>
    <import namespace="http://www.opengis.net/om/1.0" schemaLocation="http://schemas.opengis.net/om/1.0.0/om.xsd"/>
    <import namespace="http://www.opengis.net/omx/1.0" schemaLocation="http://schemas.opengis.net/omx/1.0.0/om_extended.xsd"/>
    <import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
    <import namespace="http://www.opengis.net/swe/1.0.1" schemaLocation="http://schemas.opengis.net/sweCommon/1.0.1/swe.xsd"/>
    <import namespace="urn:cgi:xmlns:CGI:Utilities:1.0" schemaLocation="http://www.geosciml.org/cgiutilities/1.0/xsd/cgiUtilities.xsd"/>
    <import namespace="http://www.opengis.net/sensorML/1.0.1" schemaLocation="http://schemas.opengis.net/sensorML/1.0.1/sensorML.xsd"/>
    <import namespace="urn:cgi:xmlns:CGI:GeoSciML:2.0" schemaLocation="http://www.geosciml.org/geosciml/2.0/xsd/geosciml.xsd"/>
    <include schemaLocation="gwml.xsd"/>
    <element name="FiltrationComponent" substitutionGroup="gwml:ConstructionComponent" type="gwml:FiltrationComponentType">
        <annotation>
            <documentation>Type of material used to filter the water.</documentation>
        </annotation>
    </element>
    <complexType name="FiltrationComponentType">
        <complexContent>
            <extension base="gwml:ConstructionComponentType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="grainSize" type="gsml:CGI_ValuePropertyType">
                        <annotation>
                            <documentation>Size of the particles of the filtration material.</documentation>
                        </annotation>
                    </element>
                    <element name="material" type="gsml:CGI_TermPropertyType">
                        <annotation>
                            <documentation>Identification of the material used in the filtration device. 
Gravel, pit run, silica sand, washed sand, crushed rock, artificial (unspecified) unknown, other
Groundwater Data Management Guidelines, Environment Canada, Dec. 1991</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="FiltrationComponentPropertyType">
        <sequence minOccurs="0">
            <element ref="gwml:FiltrationComponent"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="SealingComponent" substitutionGroup="gwml:ConstructionComponent" type="gwml:SealingComponentType">
        <annotation>
            <documentation>Description of the sealing used in the construction of a water well.</documentation>
        </annotation>
    </element>
    <complexType name="SealingComponentType">
        <complexContent>
            <extension base="gwml:ConstructionComponentType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="material" type="gsml:CGI_TermPropertyType">
                        <annotation>
                            <documentation>Material used in the sealing component of a water well. Can be formation packer, welded ring, shale trap, drive shoe, driven casing, other.
Groundwater Data Management Guidelines, Environment Canada, Dec. 1991 </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="sealingType" type="gsml:CGI_TermPropertyType">
                        <annotation>
                            <documentation>Describe the type of sealing. Can be annular sealing, pluging</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="SealingComponentPropertyType">
        <sequence minOccurs="0">
            <element ref="gwml:SealingComponent"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="Screen" substitutionGroup="gwml:WellConstruction" type="gwml:ScreenType">
        <annotation>
            <documentation>General information related to water well and screens.

At the bottom of wells, based on formation, a screening device, filter pack, slotted casing, or open bore hole is left to allow the flow of water into the well. Constructed screens are typically used in unconsolidated formations (sands, gravels, etc.), allowing water and a percentage of the formation to pass through the screen. Allowing some material to pass through creates a large area filter out of the rest of the formation, as the amount of material present to pass into the well slowly decreases and is removed from the well. Rock wells are typically cased with a PVC liner/casing and screen or slotted casing at the bottom, this is mostly present just to keep rocks from entering the pump assembly. Some wells utilize a 'filter pack' method, where an undersized screen or slotted casing is placed inside the well and a filter medium is packed around the screen, between the screen and the borehole or casing. This allows the water to be filtered of unwanted materials before entering the well and pumping zone.
http://en.wikipedia.org/wiki/Water_well</documentation>
        </annotation>
    </element>
    <complexType name="ScreenType">
        <complexContent>
            <extension base="gwml:WellConstructionType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="1" name="screenElement" type="gwml:ScreenComponentPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ScreenPropertyType">
        <sequence minOccurs="0">
            <element ref="gwml:Screen"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="Pump" substitutionGroup="gwml:Device" type="gwml:PumpType">
        <annotation>
            <documentation>Good reference on water pumps
http://www.popularmechanics.com/home_improvement/how_it_works/1275136.html?page=1&amp;amp;c=y

A water well pump is a pump that is used in extracting water from a water well. There are many makes of pumps, the foremost being Franklin Electric (American), and Pedrollo (Italian).

They include different kinds of pumps, yet most of them are submersible pumps:

    * manual pumpless/hand pump wells requiring a human operator
    * mechanical or rotary pump requiring mechanical parts to pump water
    * solar water pumps
    * DC Submersible Well Pump
    * Pumps driven by air as used by the Amish
    * Pumps driven by air as used in the Australian outback.
http://en.wikipedia.org/wiki/Water_well_pump</documentation>
        </annotation>
    </element>
    <complexType name="PumpType">
        <complexContent>
            <extension base="gwml:DeviceType">
                <sequence>
                    <element name="make" type="cgu:CodeWithAuthorityType">
                        <annotation>
                            <documentation>Brand of the pump</documentation>
                        </annotation>
                    </element>
                    <element name="model" type="cgu:CodeWithAuthorityType">
                        <annotation>
                            <documentation>Model of the pump</documentation>
                        </annotation>
                    </element>
                    <element name="pumpCapacity" type="om:ObservationPropertyType">
                        <annotation>
                            <documentation>Capacity of the pump, expressed as a measurement type (value and UOM)</documentation>
                        </annotation>
                    </element>
                    <element name="pumpType" type="cgu:CodeWithAuthorityType">
                        <annotation>
                            <documentation>Identification of the type of pump</documentation>
                        </annotation>
                    </element>
                    <element name="riserPipeDiameter" type="cgu:CodeWithAuthorityType">
                        <annotation>
                            <documentation>Identification of the diameter of a riser pipe used in a water pump</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="PumpPropertyType">
        <sequence minOccurs="0">
            <element ref="gwml:Pump"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="Filtration" substitutionGroup="gwml:WellConstruction" type="gwml:FiltrationType"/>
    <complexType name="FiltrationType">
        <complexContent>
            <extension base="gwml:WellConstructionType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="filterPlacementMethod" type="gml:ReferenceType">
                        <annotation>
                            <appinfo>
                                <gml:targetElement>sml:_Process</gml:targetElement>
                            </appinfo>
                            <documentation>Process defining the filter placement method. Can be tremie or pour down.
Groundwater Data Management Guidelines, Environment Canada, Dec. 1991</documentation>
                        </annotation>
                    </element>
                    <element name="filtrationMedium" type="gsml:CGI_TermPropertyType">
                        <annotation>
                            <documentation>Type of filtration mechanism used in the filtration device. Terms can be Natural, Filter pack or Formation stabilizer.
Groundwater Data Management Guidelines, Environment Canada, Dec. 1991</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="filtrationElement" type="gwml:FiltrationComponentPropertyType">
                        <annotation>
                            <documentation>0..* instead of 1, because one might have filtrationMedium without any FiltrationComponent
</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="FiltrationPropertyType">
        <sequence minOccurs="0">
            <element ref="gwml:Filtration"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="ScreenComponent" substitutionGroup="gwml:ConstructionComponent" type="gwml:ScreenComponentType">
        <annotation>
            <documentation>Class used to details the various components of the water pump screen.</documentation>
        </annotation>
    </element>
    <complexType name="ScreenComponentType">
        <complexContent>
            <extension base="gwml:ConstructionComponentType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="attachementMethod" type="gsml:CGI_TermPropertyType">
                        <annotation>
                            <documentation>Identification of screen attachement method. Can be telescoped, on casing, on riser pipe, neoprene (K) packer, Lead packer, other, unknown.
Groundwater Data Management Guidelines, Environment Canada, Dec. 1991 </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="coating" type="gsml:CGI_TermPropertyType">
                        <annotation>
                            <documentation>Identification of the thin outer layer applied to the screen. Can be galvanized, stainless, copper bearing, low carbon, black, porous.
Groundwater Data Management Guidelines, Environment Canada, Dec. 1991 </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="form" type="gsml:CGI_TermPropertyType">
                        <annotation>
                            <documentation>Form of the screen. Can be slotted casing, perforated casing, bridge slot casing, wire wrap or continuous slot, wire mesh, shutter or louvered, well point, tube, unknown, other.
Groundwater Data Management Guidelines, Environment Canada, Dec. 1991 </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="holeSize" type="gsml:CGI_NumericPropertyType">
                        <annotation>
                            <documentation>Size of the slots or perforations of the screen.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="material" type="gsml:CGI_TermPropertyType">
                        <annotation>
                            <documentation>Identification of the material with which the screen is made. Can be metal, steel, iron, copper, brass, bronze, everdur, Armco metal, veriperm, stone, plastic, PVC, ABS, Fibreglass.
Groundwater Data Management Guidelines, Environment Canada, Dec. 1991 </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="nomicalScreenDiameter" type="gsml:CGI_NumericPropertyType">
                        <annotation>
                            <documentation>Value of the nominal screen diameter (thickness of the screen rim).</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="perforationMethod" type="gsml:CGI_TermPropertyType">
                        <annotation>
                            <documentation>Information on how the slots were performated. Can be drill, grinder, axe / chisel, machine, saw, torch, other, unknown.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="screenFitting" type="gsml:CGI_TermPropertyType">
                        <annotation>
                            <documentation>Identification of the screen fitting (from the bottom). Can be bail, open, plug, tail pipe, washdown, unknown.
Groundwater Data Management Guidelines, Environment Canada, Dec. 1991 </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="screenMake" type="gsml:CGI_TermPropertyType">
                        <annotation>
                            <documentation>Make of the screen.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="screenModel" type="gsml:CGI_TermPropertyType">
                        <annotation>
                            <documentation>Model of the screen</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="screenNumber" type="gsml:CGI_TermPropertyType">
                        <annotation>
                            <documentation>Screen number corresponds to hole size and is given in 0.001 inch. The value is expressed as an alphanumeric code.
Groundwater Data Management Guidelines, Environment Canada, Dec. 1991 </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="screenPlacement" type="gsml:CGI_TermPropertyType">
                        <annotation>
                            <documentation>Value of thescreen placement method. Can be bail down, pull back, jetted, washed down, unknown.
Groundwater Data Management Guidelines, Environment Canada, Dec. 1991 </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="screenThickness" type="gsml:CGI_NumericPropertyType">
                        <annotation>
                            <documentation>Thickness of the screen walls.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ScreenComponentPropertyType">
        <sequence minOccurs="0">
            <element ref="gwml:ScreenComponent"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="WellCasing" substitutionGroup="gwml:WellConstruction" type="gwml:WellCasingType">
        <annotation>
            <documentation>Casing, as in borehole, but scoped to Well structures build in (or hosted) a borehole.  We had to support a specific well casing (from xmml/GeoSciML boreholes) because 1) Borehole spec did not provide such concept so far and 2) Wells are not necessary hosted in a borehole (and might have some casing).</documentation>
        </annotation>
    </element>
    <complexType name="WellCasingType">
        <complexContent>
            <extension base="gwml:WellConstructionType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="1" name="wellCasingElement" type="gwml:WellCasingComponentPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="WellCasingPropertyType">
        <sequence minOccurs="0">
            <element ref="gwml:WellCasing"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="Sealing" substitutionGroup="gwml:WellConstruction" type="gwml:SealingType">
        <annotation>
            <documentation>WELL SEAL: a device used to cover the top of a well casing pipe and thereby seal the top of the well casing to prevent the entry of surface runoff. A well seal differs from a well cap in that a seal has a gasket and a cap does not. A well seal should include a screened vent pipe that passes through the gasket to allow pressure equilibration. A screen is necessary to reduce contaminant entry. The vent should be high enough not to be flooded. 
http://www.purdue.edu/envirosoft/well/src/construc4.htm</documentation>
        </annotation>
    </element>
    <complexType name="SealingType">
        <complexContent>
            <extension base="gwml:WellConstructionType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="groutingPlacementMethod" type="gml:ReferenceType">
                        <annotation>
                            <appinfo>
                                <gml:targetElement>sml:_Process</gml:targetElement>
                            </appinfo>
                            <documentation>Refers to the grout placement method on a water well. 

Grout : Injection of liquid cement or chemicals into the ground where they set thus impeding or preventing water flow by reducing permeability and improving the strength of rocks by filling pores and fractures. Primary injection holes are spaced at regular intervals with infilling of secondary holes where necessary. The type of grout and its viscosity depends on rock type because of varying size of pores and fractures and hydraulic resistance. The migration of grout is controlled by permeability.
AILSA ALLABY and MICHAEL ALLABY. "grouting." A Dictionary of Earth Sciences. 1999. Retrieved December 23, 2008 from Encyclopedia.com: http://www.encyclopedia.com/doc/1O13-grouting.html</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="sealingElement" type="gwml:SealingComponentPropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="wellCasingSlit" type="gwml:WellCasingComponentPropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="wellCasingLeft" type="gwml:WellCasingComponentPropertyType">
                        <annotation>
                            <documentation>casing left after plugging</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="SealingPropertyType">
        <sequence minOccurs="0">
            <element ref="gwml:Sealing"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element abstract="true" name="ConstructionComponent" substitutionGroup="gml:_Feature" type="gwml:ConstructionComponentType">
        <annotation>
            <documentation>Elements used in constructions. Position (fromPos and endPos) coordinate reference is the shape of the samplingCurve from which the WaterWell derives.</documentation>
        </annotation>
    </element>
    <complexType abstract="true" name="ConstructionComponentType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element name="position" type="gml:ReferenceType">
                        <annotation>
                            <appinfo>
                                <gml:targetElement>gml:LineStringSegment</gml:targetElement>
                            </appinfo>
                            <documentation>This attribute is used to reference the shape of the samplingCurve from which the WaterWell derives.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ConstructionComponentPropertyType">
        <sequence minOccurs="0">
            <element ref="gwml:ConstructionComponent"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="WellCasingComponent" substitutionGroup="gwml:ConstructionComponent" type="gwml:WellCasingComponentType">
        <annotation>
            <documentation>A single part of a well casing</documentation>
        </annotation>
    </element>
    <complexType name="WellCasingComponentType">
        <complexContent>
            <extension base="gwml:ConstructionComponentType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="coating" type="gsml:CGI_TermPropertyType">
                        <annotation>
                            <documentation>Coating applied to the casing. Can be galvanized, stainless, mild, low carbon, copper bearing, black, porous.
Groundwater Data Management Guidelines, Environment Canada, Dec. 1991</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="form" type="gsml:CGI_TermPropertyType">
                        <annotation>
                            <documentation>Form of material used in the casing. Can be curbing, cribbing, corrugated, culvert, hose, pipe - casing - tubing.
Groundwater Data Management Guidelines, Environment Canada, Dec. 1991 </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="material" type="gsml:CGI_TermPropertyType">
                        <annotation>
                            <documentation>Material in which the casing is made. Can be metal, steel, iron, concrte, wood, brick, plastic, teflon, PVC, ABS, Fibreglass, asbestos cement, unknow, other.
Groundwater Data Management Guidelines, Environment Canada, Dec. 1991</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="nominalPipeDimension" type="gsml:CGI_NumericPropertyType">
                        <annotation>
                            <documentation>Value of the pipe dimension of the casing.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="wallThickness" type="gsml:CGI_NumericPropertyType">
                        <annotation>
                            <documentation>Value of the thickness of the wass of the casing.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="WellCasingComponentPropertyType">
        <sequence minOccurs="0">
            <element ref="gwml:WellCasingComponent"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element abstract="true" name="WellConstruction" type="gwml:WellConstructionType">
        <annotation>
            <documentation>Construction components, use to describe how the well was built.  This information are important when assessing result of pump tests.</documentation>
        </annotation>
    </element>
    <complexType abstract="true" name="WellConstructionType"/>
    <complexType name="WellConstructionPropertyType">
        <sequence>
            <element ref="gwml:WellConstruction"/>
        </sequence>
    </complexType>
    <simpleType name="DrillingFluidCodeType">
        <restriction base="string">
            <enumeration value="WaterBased">
                <annotation>
                    <documentation>Clean water, water and clay, water and polymers, water clay and polymers, others</documentation>
                </annotation>
            </enumeration>
            <enumeration value="AirBased">
                <annotation>
                    <documentation>Dry air, mist, foam, stiff foam, others</documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>
</schema>