src/main/webapp/schemas/WellProtection.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:gsml="urn:cgi:xmlns:CGI:GeoSciML:2.0" xmlns:gwml="http://www.nrcan.gc.ca/xml/gwml/1" targetNamespace="http://www.nrcan.gc.ca/xml/gwml/1" elementFormDefault="qualified" attributeFormDefault="unqualified"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>The GWML WellProtection package contains classes required to describe the protection domain of a well.</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
    <import namespace="urn:cgi:xmlns:CGI:GeoSciML:2.0" schemaLocation="http://www.geosciml.org/geosciml/2.0/xsd/geosciml.xsd"/>
    <include schemaLocation="gwml.xsd"/>
    <element name="ZoneOfInfluence" substitutionGroup="gwml:HydrogeologicFeature" type="gwml:ZoneOfInfluenceType">
        <annotation>
            <documentation>The area of influence, or cone of depression formed when pumping a well or well field. (http://www.wrds.uwyo.edu/wrds/deq/whp/whpgloss.html)
</documentation>
        </annotation>
    </element>
    <complexType name="ZoneOfInfluenceType">
        <complexContent>
            <extension base="gwml:HydrogeologicFeatureType"/>
        </complexContent>
    </complexType>
    <complexType name="ZoneOfInfluencePropertyType">
        <sequence minOccurs="0">
            <element ref="gwml:ZoneOfInfluence"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="ConeOfDepression" substitutionGroup="gwml:HydrogeologicFeature" type="gwml:ConeOfDepressionType">
        <annotation>
            <documentation>A cone of depression occurs in an aquifer when ground water is pumped from a well. In an unconfined (water table) aquifer, this is an actual depression of the water levels. In confined (artesian) aquifers, the cone of depression is a reduction in the pressure head surrounding the pumped well (please see earlier articles for discussion of head).
http://en.wikipedia.org/wiki/Cone_of_depression

A depression in the groundwater table or potentiometric surface that has the shape of an inverted cone and develops around a well from which water is being withdrawn. Its trace (perimeter) on the land surface defines the zone of influence of a well. Also called pumping cone and cone of drawdown. (http://www.wrds.uwyo.edu/wrds/deq/whp/whpgloss.html)

he zone around a well in an unconfined aquifer that is normally saturated, but becomes unsaturated as a well is pumped, leaving an area where the water table dips down to form a cone shape.  The shape of the cone is influenced by porosity and the water yield or pumping rate of the well.  The land surface overlying the cone of depression is referred to as the area of influence.
http://www.groundwater.org/gi/gwglossary.html#C</documentation>
        </annotation>
    </element>
    <complexType name="ConeOfDepressionType">
        <complexContent>
            <extension base="gwml:HydrogeologicFeatureType">
                <sequence>
                    <element name="centeredAt" type="gml:PointPropertyType">
                        <annotation>
                            <documentation>The planimetric localization of the center of the cone of depression.

The planimetric shape of a cone of depression os not necessarily circular. This discussion details size and shape characteristic of a cone of depression.

The size and shape (slope) of the cone of depression depends on many factors. The pumping rate in the well will affect the size of the cone. Also, the type of aquifer material, such as whether the aquifer is gravel, sand, silt, fractured rocks, karst, etc., also will affect how far the cone extends. The amount of water in storage and the thickness of the aquifer also will determine the size and shape of the cone of depression. As a well is pumped, the cone of depression will extend out and will continue to expand in a radial fashion until a point of equilibrium occurs. This usually is when the amount of water released from storage equals the rate of pumping. This also can occur when recharge to the aquifer equals the amount of water being pumped. We typically think of a cone of depression as being a circular feature surrounding the pumped well. However, aquifer characteristics can affect the shape of the cone of depression. For example, if there is a steep ground-water gradient in the area of pumpage, the cone will tend to be shorter in the upgradient direction and elongated in the downgradient direction. This is because the water is already flowing towards the well from the upgradient direction, so the cone of depression doesn't need to extend as far out to obtain water, whereas the water is flowing away from the well in the downgradient direction, so the cone of depression needs to reach further to obtain water.

http://en.wikipedia.org/wiki/Cone_of_depression</documentation>
                        </annotation>
                    </element>
                    <element name="depth" type="gsml:CGI_NumericValuePropertyType">
                        <annotation>
                            <documentation>The depth of a cone of depression in an aquifer.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ConeOfDepressionPropertyType">
        <sequence minOccurs="0">
            <element ref="gwml:ConeOfDepression"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="ProtectionZone" substitutionGroup="gwml:HydrogeologicFeature" type="gwml:ProtectionZoneType">
        <annotation>
            <documentation>An area that defines a protection zone around a well.</documentation>
        </annotation>
    </element>
    <complexType name="ProtectionZoneType">
        <complexContent>
            <extension base="gwml:HydrogeologicFeatureType"/>
        </complexContent>
    </complexType>
    <complexType name="ProtectionZonePropertyType">
        <sequence minOccurs="0">
            <element ref="gwml:ProtectionZone"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="ZoneOfContribution" substitutionGroup="gwml:HydrogeologicFeature" type="gwml:ZoneOfContributionType">
        <annotation>
            <documentation>The area surrounding a pumping well, spring, or tunnel that encompasses all areas and features that supply groundwater to the well spring, or tunnel. (http://www.wrds.uwyo.edu/wrds/deq/whp/whpgloss.html)
</documentation>
        </annotation>
    </element>
    <complexType name="ZoneOfContributionType">
        <complexContent>
            <extension base="gwml:HydrogeologicFeatureType"/>
        </complexContent>
    </complexType>
    <complexType name="ZoneOfContributionPropertyType">
        <sequence minOccurs="0">
            <element ref="gwml:ZoneOfContribution"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
</schema>