src/main/webapp/schemas/xToSort.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:cgu="urn:cgi:xmlns:CGI:Utilities:1.0" xmlns:gwml="http://www.nrcan.gc.ca/xml/gwml/1" targetNamespace="http://www.nrcan.gc.ca/xml/gwml/1" elementFormDefault="qualified" attributeFormDefault="unqualified"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>package of things that are identitfied in the domain but don't quite fit in any of the other packages</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
    <import namespace="urn:cgi:xmlns:CGI:Utilities:1.0" schemaLocation="http://www.geosciml.org/cgiutilities/1.0/xsd/cgiUtilities.xsd"/>
    <include schemaLocation="gwml.xsd"/>
    <element name="HydraulicBoundary" substitutionGroup="gwml:HydrogeologicFeature" type="gwml:HydraulicBoundaryType">
        <annotation>
            <documentation>A hydrologic feature that prevents the flow of groundwater. Examples include groundwater divides or low permeability material that impedes groundwater flow. (http://www.wrds.uwyo.edu/wrds/deq/whp/whpgloss.html)</documentation>
        </annotation>
    </element>
    <complexType name="HydraulicBoundaryType">
        <complexContent>
            <extension base="gwml:HydrogeologicFeatureType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="properties" type="gwml:WaterPropertyDescriptionPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="HydraulicBoundaryPropertyType">
        <sequence minOccurs="0">
            <element ref="gwml:HydraulicBoundary"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="ProtectionArea" substitutionGroup="gml:_Feature" type="gwml:ProtectionAreaType">
        <annotation>
            <documentation>The surface and subsurface area surrounding a water well or wellfield through which contaminants are reasonably likely to move toward and reach such water well or well field.(http://www.wrds.uwyo.edu/wrds/deq/whp/whpgloss.html)
</documentation>
        </annotation>
    </element>
    <complexType name="ProtectionAreaType">
        <complexContent>
            <extension base="gml:AbstractFeatureType"/>
        </complexContent>
    </complexType>
    <complexType name="ProtectionAreaPropertyType">
        <sequence minOccurs="0">
            <element ref="gwml:ProtectionArea"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="HydroGeologicalContext" substitutionGroup="gml:_Feature" type="gwml:HydroGeologicalContextType">
        <annotation>
            <documentation>General information about the hydrogeologic units, the regional geology, soils, etc that is part of a framework.</documentation>
        </annotation>
    </element>
    <complexType name="HydroGeologicalContextType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element name="framework" type="gwml:HydroGeologicalFrameworkPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="HydroGeologicalContextPropertyType">
        <sequence minOccurs="0">
            <element ref="gwml:HydroGeologicalContext"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="PiezometricSurface" substitutionGroup="gml:_Feature" type="gwml:PiezometricSurfaceType">
        <annotation>
            <documentation>Also : Potentionetric Surface
A surface that represents the level to which water will rise in tightly cased wells. If the head varies significantly with depth in the aquifer, then there may be more than one potentiometric surface. The water table is a particular potentiometric surface for an unconfined aquifer.
(http://www.wrds.uwyo.edu/wrds/deq/whp/whpgloss.html)</documentation>
        </annotation>
    </element>
    <complexType name="PiezometricSurfaceType">
        <complexContent>
            <extension base="gml:AbstractFeatureType"/>
        </complexContent>
    </complexType>
    <complexType name="PiezometricSurfacePropertyType">
        <sequence minOccurs="0">
            <element ref="gwml:PiezometricSurface"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="RechargeArea" substitutionGroup="gml:_Feature" type="gwml:RechargeAreaType">
        <annotation>
            <documentation>Area in which water reaches the groundwater reservoir by surface infiltration. An area in which there is a downward component of hydraulic head in the aquifer.
(http://www.wrds.uwyo.edu/wrds/deq/whp/whpgloss.html)</documentation>
        </annotation>
    </element>
    <complexType name="RechargeAreaType">
        <complexContent>
            <extension base="gml:AbstractFeatureType"/>
        </complexContent>
    </complexType>
    <complexType name="RechargeAreaPropertyType">
        <sequence minOccurs="0">
            <element ref="gwml:RechargeArea"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="HydroGeologicalFramework" substitutionGroup="gml:_Feature" type="gwml:HydroGeologicalFrameworkType">
        <annotation>
            <documentation>A collection of hydrogeological units which forms a hydrogeological context.</documentation>
        </annotation>
    </element>
    <complexType name="HydroGeologicalFrameworkType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="context" type="gwml:HydroGeologicalContextPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="HydroGeologicalFrameworkPropertyType">
        <sequence minOccurs="0">
            <element ref="gwml:HydroGeologicalFramework"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="GroundwaterDivide" substitutionGroup="gml:_Feature" type="gwml:GroundwaterDivideType">
        <annotation>
            <documentation>The boundary between two adjacent groundwater basins, which is represented by a high point in the water table.
http://www.groundwater.org/gi/gwglossary.html#D

A Limit between two groundwater "watersheds", somewhat like a water divide</documentation>
        </annotation>
    </element>
    <complexType name="GroundwaterDivideType">
        <complexContent>
            <extension base="gml:AbstractFeatureType"/>
        </complexContent>
    </complexType>
    <complexType name="GroundwaterDividePropertyType">
        <sequence minOccurs="0">
            <element ref="gwml:GroundwaterDivide"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="SpatialRelationship" type="gwml:SpatialRelationshipType">
        <annotation>
            <documentation>This class is used to identify the spatial relationship between two or more objects.</documentation>
        </annotation>
    </element>
    <complexType name="SpatialRelationshipType">
        <sequence>
            <element name="spatialRelation" type="cgu:CodeWithAuthorityType">
                <annotation>
                    <documentation>This property is used to express explicitely the spatial relationship between two or more objects.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="SpatialRelationshipPropertyType">
        <sequence>
            <element ref="gwml:SpatialRelationship"/>
        </sequence>
    </complexType>
    <simpleType name="SpatialRelationType">
        <restriction base="string">
            <enumeration value="crosses"/>
            <enumeration value="within"/>
            <enumeration value="outside"/>
        </restriction>
    </simpleType>
</schema>